@charset "utf-8";
/* CSS Document */

body {
  position: relative;
  font-family: "微软雅黑" "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 14px;
  background: url("../assets/images/background.png");
}

textarea { height: 70px; }

a { color: #00B7FF; }

.user-top {
  margin-top: 50px;
}

.sendContain {
  margin-top: -30px;
}

.modal-header {
  text-align: center;
}

  .self-error {
    background: url("../assets/images/error.png") no-repeat;
    color: #b94a48;
    padding-left: 15px;
    display: inline-block;
    background-position: 0px 3px;
  }

  .self-ok {
    background: url("../assets/images/ok.png") no-repeat;
    color: #000000;
    padding-left: 15px;
    display: inline-block;
    background-position: 0px 3px;
  }

.newPhoto {
  width: 620px;
}

.tips {
  font-family: Geneva, "宋体", Tahoma, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 14px;
}

.tags {
  padding: 13px 0;
}

.tag {
  cursor: pointer;
  margin-left: 5px;
}

#photo-flow {
  top:70px;
  position: absolute;
  background: #eee;
  z-index: 100;
}
.reviewsCount{
  float: right;
  font-weight: bold;
  font-size: 13px;
}
.pin {
  background: #fff;
  width: 200px;
  float: left;
  border: 1px solid #ccc;
  padding: 15px;
  display: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}
.video_img{
  position: relative;
  left: 90px;
  display: none;
  cursor: pointer;
}
.imageDom{
  width: 200px;
  padding: 0;
  margin: 0;
}
@media (min-width: 980px){
  #pins{top:70px;}
}
@media (max-width: 530px) {
  .pin { padding: 0 0 5px 0; }
}

.pin div {
  margin-bottom: 0;
  padding-top: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
}


.pin p {
  margin-bottom: 0;
  padding-top: 15px
}

.pin strong {
  color: #777;
  font-weight: normal;
}

.pin-options {
  margin: 5px;
  display: none;
  right: 20px;
  position: absolute;
  padding: 5px 7px 4px;
  background-color: #eee;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 1px 3px #ccc;
  -moz-box-shadow: 0 1px 3px #ccc;
  box-shadow: 0 1px 3px #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.pin:hover .pin-options {
  display: block;
}

#form {
  border: 1px solid #ccc;
  background-color: white;
  padding: 15px;
}

form {
  margin-bottom: 0;
}

textarea {
  height: 70px;
}

.form-actions {
  margin-bottom: 0;
}

#form h1 {
  font-family: 'Monoton';
  text-align: center;
  font-weight: normal;
  margin-bottom: 15px;
}

.imageAuthor {
  color: #08C;
  margin-right: 10px;
  display: inline-block;
}

.canceled {
  cursor: pointer;
  font-weight: bold;
  float: right;
  margin-top: 13px;
}

.messages {
  list-style-type: none;
  top: 50px;
  right: 10px;
  position: absolute;
  z-index: 200;
}

.messages li {
  margin: 10px 0;
  padding: 18px 28px;
  border: 1px solid #ccc;
  font-size: 16px
}

.messages li:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
}

#loader {
  position: absolute;
  margin-top: 70px;
  text-align: center;
  top: 60px;
  z-index: 101;
  width: 100%;
  height: 100px;
  vertical-align: middle;
}

.descripDiv {
  cursor: pointer;
  padding-left: 5px;
}

/*
  上传图片
*/
.uploaddiv {
  height: 250px;
  width: 400px;
  border: 1px solid #D0D0D0;
  z-index: 10000;
  -moz-box-shadow: 2px 2px 2px rgba(51, 51, 51, 0.2);
  -webkit-box-shadow: 2px 2px 2px rgba(51, 51, 51, 0.2);
  position: absolute;
  background: white;
  display: none;
  overflow-y: hidden;
  overflow-x: hidden;
}

.checked_img {
  margin-top: 5px !important;
  margin-left: 10px !important;
  height: 20px;
  display: inline-block;
}

.sendContain {
  margin-top: -30px;
}

/*
  图片脚本样式
*/
.imgs_contain {
  width: 150px;
  height: 100px;
  border: 1px solid #BEBEBE;
  display: inline-block;
  margin-left: 10px;
  text-align: center;
}

.incidents-content-img {
  overflow: hidden;
  /*height:103px;*/
  margin-top: 10px;
}

.imgListLi {
  float: left;
}

.imgListUl {
  list-style: none;
  white-space: nowrap;
  height: 103px;
  margin-left: 0px;
}

.btn-left {
  width: 25px;
  float: left;
  cursor: pointer;
}

.btn-right {
  width: 25px;
  float: right;
  cursor: pointer;
}

.img_ul_contain {
  height: 103px;
  overflow: hidden;
}

.big_img_contain {
  margin-left: 30px;
  text-align: center;
}

.big_img_contain img {
  cursor: pointer;
}

.big_title_tips_con {
  position: absolute;
  background-image: url("../img/fancy_title_over.png");
  text-align: left;
  height: 29px;
  padding-top: 5px;
  z-index: 1000;
  overflow: hidden;
}

.big_title_tips {
  font-family: Helvetica;
  font-size: 12px;
  color: white;
  margin-left: 10px;
}

/*
  头部样式
*/
.search-query {
  margin-top: 8px;
}

.icon-search {
  margin-top: 8px;
  cursor: pointer;
}

.loginDiv {
  float: right;
  height: 45px;
}

.uploadBtn {
  float: right !important;
  margin-right: 10px !important;
  /*margin-top: 10px !important;*/
}

.searchDiv {
  min-height: 45px;
  padding: 2px;
}

.titleMain {
  margin-top: 4px;
  padding: 0px 0px 0px 10px !important;
}

.topDiv {
  height: auto;
}

.loginName {
  float: right;
  margin-top: 13px;
}

.loginName span {
  font-weight: bold;
}

/* 标签样式 */
.checked_tag {
  background: #999;
  text-decoration: none;
  margin: 5px 0 0 5px;
  height: 23px;
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.tt {
  float: left;
  margin-left: 5px;
  cursor: text;
  font-size: 11px;
  font-weight: bold;
  line-height: 14px;
  color: white;
  margin-top: 5px;
}

.remove_tag {
  float: left;
  -webkit-tap-highlight-color: #E1E1E1;
  margin: 5px 0 0 5px;
  cursor: pointer;
  width: 14px;
  height: 14px;
  overflow: hidden;
  text-indent: -9000px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: transparent url("../assets/images/topic_remove.gif") scroll no-repeat -1px -17px;
  color: #259;
  margin-right: 5px;
}

/*评论框布局*/
.new_remark {
  display: none;
}

#remarkLayout {
  width: 240px;
  padding: 10px 20px;
  background: #fff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  position: absolute;
  overflow: auto;
}

#remarkLayout label.inline {
  display: inline;
}

.author {
  margin-right: 20px;
}

.numOfRemark {
  padding-bottom: 10px;
  padding-left: 35px;
  background: url("../assets/images/icon-remark.png") no-repeat;
  display: inline-block;
}

.refreshComments {
  float: right;
}

ul {
  list-style: none;
}

.remarkList {
  padding: 0px;
  margin: 0px;
}

.remarker, .remarkTime {
  padding-right: 10px;
}

#remarkLayout hr {
  margin: 15px 0px;
}

.new_remarkOp {
  height: 30px;
}

.new_remark .btn {
  float: right;
  margin-right: 20px;
}

.box_beforeRemark {
  color: #aaa;
  border: 1px solid #7bbfea;
  padding: 5px;
}

/***-----    用户管理界面样式    -----**/

.row-fluid .container {
  width: 1003px;
  margin-top: 100px;
}

.bs-docs-side {
  width: 220px;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
  box-shadow: 0 1px 4px rgba(0,0,0,.065);
}

.affix {
  position: fixed;
}

.bs-docs-side > li > a {
  display: block;
  width: 190px;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}

  .bs-docs-side > li:first-child > a {
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
  }

  .bs-docs-side > li:last-child > a {
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
  }

.bs-docs-side > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
  -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
  box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}

.bs-docs-side i {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}

/* 右侧模块样式 */
.module-con {
  margin:0 0 20px 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #DDD;
}
/* 模块图片 */
.module-img {
  float: left;
  width: 150px;
  height: 110px;
  overflow: hidden;
  background: #FFF;
}
.module-img a:hover {
  border: 4px solid #87CB44;
  padding: 0px;
}
.module-img img{
  width: 140px;
  height: 100px;
}

/*--------------- 项目列表 ------------------*/
.module-list {
  float:left;
  width:510px;
  padding:0 15px;
}
.module-list li {
  padding:3px 0;
  height: 20px;
}
.module-title {
  font-size: 18px;
  color: #1BA1E2;
  font-weight: bold;
  margin:0;
  padding-bottom: 5px;
  line-height: 20px;
}
.module-title a:hover {
  text-decoration: none;
}

.module-meta {
  display: block;
  height: 53px;
}

/* 清除浮动
.module-meta:after {
  content: '';
  clear: both;
  display: table;
}
*/

.module-meta div {
  float: left;
  padding-right: 20px;
  min-width: 120px;
  line-height: 24px;
}
.module-meta div.moduleCreatedTime {
  min-width: 185px;
}

/*返回顶部*/
.backToTop {
  display: none;
  width: 18px;
  line-height: 1.2;
  padding: 5px 0;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  text-align: center;
  position: fixed;
  _position: absolute;
  right: 10px;
  bottom: 100px;
  _bottom: "auto";
  cursor: pointer;
  opacity: .6;
  filter: Alpha(opacity = 60);
}
/*前进后退按钮所在块的宽度*/
.fancybox-outer .fancybox-nav{width:30px;height:80%;}
/*上传图片框布局*/
.newPhoto{
  width: 620px;
}